@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-color: #ffffff;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.Title {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
}

.FormInput {
    color: #000000;
    height: 44px;
    border: 0px #e2e1de;
    border-radius: 20px;
    background-color: #e2e1de;
    padding-left: 23px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    outline-color: #ffffff;
}

.FormSubmit {
    color: #ffffff;
    background-color: #7e8bb1;
    border: 0px #7e8bb1;
    border-radius: 20px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 29px;
    font-size: 25px;
    font-weight: 700;
}

.FooterItem {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}
