@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-color: #ffffff;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.Title {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
}

.FormInput {
    color: #000000;
    height: 44px;
    border: 0px #e2e1de;
    border-radius: 20px;
    background-color: #e2e1de;
    padding-left: 23px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    outline-color: #ffffff;
}

.FormLabel {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
}

.FormSubmit {
    color: #ffffff;
    background-color: #7e8bb1;
    border: 0px #7e8bb1;
    border-radius: 20px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 29px;
    font-size: 25px;
    font-weight: 700;
}

.LoginSubmit {
  color: #ffffff;
  background-color: #7e8bb1;
  border: 0px #7e8bb1;
  border-radius: 20px;
  line-height: 29px;
  font-size: 25px;
  font-weight: 700;
  width: 212px;
  height: 54px;
}

.FooterItem {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.SidebarItem {
  color: #000000;
  background-color: #FFFFFF;
  width: 213px;
  height: 52px;
  border: 0px #7E8BB1;
  border-radius: 20px;
}

.SidebarLabel {
  line-height: 29px;
  font-size: 20px;
  font-weight: 400;
}

.SidebarIcon {
  width: 29px;
  height: 29px;
}

.Selected {
  color: #FFFFFF;
  background-color: #7E8BB1;
}

.Unselected {
  color: #000000;
  bacground-color: none;
}

.RecLabel {
  line-height: 27px;
  font-size: 16px;
  font-weight: 500;
}

.Recommendation {
  line-height: 27px;
  font-size: 20px;
  font-weight: 400;
}

.NavLink {
  line-height: 28px;
  font-size: 16px;
  font-weight: 700;
}

.NavAction {
  color: #000000;
  height: 44px;
  border: 0px #e2e1de;
  border-radius: 20px;
  background-color: #e2e1de;
  padding-left: 23px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  outline-color: #ffffff;
}

.Cover {
  flex: 1;
}

.CoverTitle {
  line-height: 110px;
  font-size: 80px;
  font-weight: 500;
  color: #FFFFFF;
}

.CoverSubtitle {
  font-size: 25px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 30px;
}

.table-head1 {
  min-width: 350px;
  height: 25px;
  text-align: left;
}

.table-head2 {
  min-width: 100px;
  height: 25px;
  text-align: left;
}

hr {
  color: #e2e1de;
  margin-bottom: 5px;
  width: 800px;
}

.add-user {
  display: grid;
  color: white;
  background-color: #7E8BB1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
